a{
    text-decoration: none;
}

.side-menu {
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.side-menu--closed {
width: 72px;
}



.side-menu--closed a .text {
    font-size: 12px;
    }

.side-menu hr{
    width: 100%;
    border: 0;
    background: #e5e5e5;
    height: 1px;
}

.side-menu a{
    
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    padding-left: 26px;
    box-sizing: border-box;
    color: #000000;
}
.side-menu--closed a {
    flex-direction: column;
    padding: 0;
    font-size: 9px;
    height: 72px;
    justify-content: center;
    align-items: center;
}


.side-menu a:hover{
    background: rgba(0, 0, 0, 0.05);
}
.side-menu .icon{
    width: 25px;
    margin-right: 14px;
}
.side-menu--closed .icon {
    margin-right: 0;
width: initial;
}

svg {
    fill: #606060;
    transition: fill 0.5s;
}
.side-menu a:active svg, 
.side-menu .current svg {
    fill: red;
    transition: fill 0.5s;
    
}

.side-menu a.current {
     background: rgba(0, 0, 0, 0.1);
     color: red;
}

.side-menu :active {
    color: red;
}