body {
    background: #f1f1f1;
    margin: 0;
  }
  
  #top-menu {
    display: flex;
    justify-content: space-between;
  }
  
  .search {
    display: flex;
  }
  .search input:focus {
    outline: none;
    background: rgb(233, 233, 233);
  }